.return_post{
   font-size: 3rem;
 }	

.circle{
    width:4rem;
    height:4rem;
    background-color: gray;
    position: fixed;
    border-radius: 30%;
    left: 10%;
    top: 10%;
    font-size: 20px;
    text-align: center;
    font-family:NSimSun
  }

 .user{
position: relative;
   width: 98%;
   margin: 1%;
   margin-bottom: 10%;
height: 6rem;
 }
.pic{
  position: absolute;
  width: 25%;
    margin-top: 0%;

}
 .yonghuming{

position:relative;  
  width: 50%;
  margin-top: 3%;
   left: 30%;
   font-size: 1.3rem;
 }

  .box1{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 30%;
    left: 29%;
    right: 29%;
  }

   .box2{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 48%;
    left: 29%;
    right: 29%;
  }

   .box3{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 66%;
    left: 29%;
    right: 29%;
  }
 
  .background-userinformation{
    height: 100%;
    width: 100%;
   background-color:  #AFEEEE;
    position: fixed;
    background-size: cover;
  }
  
  .scut{
    font-size: 0.5rem;
    text-align: center; 
    width: 80%;
    left: 10%;
    right: 10%;
    color: gray;
    position: fixed;
    bottom: 4rem;
  }

  
  .arrow{
    margin-left: 10rem;
  }