.return_post{
   font-size: 3rem;
 }	

.circle{
    width:4rem;
    height:4rem;
    background-color: gray;
    position: fixed;
    border-radius: 30%;
    left: 10%;
    top: 10%;
    font-size: 20px;
    text-align: center;
    font-family:NSimSun
  }

 .touxiang{

   width: 100%;
   height: 20%;
   margin-top: 5%;
   display: flex;
   flex-direction: row;


 }

 .yonghuming{
   display: flex;
   width: 6rem;
   height: 2rem;
   left: 40%;
   top: 10%;
   flex-direction: row;
   font-size: 1.3rem;
   margin-top: 2rem;
   margin-left: 1rem;
 }

  .box1{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 30%;
    left: 29%;
    right: 29%;
  }

   .box2{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 48%;
    left: 29%;
    right: 29%;
  }

   .box3{
    width: 42%;
    color: blue;
    font-family:NSimSun;
    position:fixed;
    top: 66%;
    left: 29%;
    right: 29%;
  }
 
  .background-userinformation{
    height: 100%;
    width: 100%;
    background-image: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2193922693,786190290&fm=26&gp=0.jpg) ;
    position: fixed;
    background-size: cover;
  }
  
  .scut{
    font-size: 0.5rem;
    text-align: center; 
    width: 80%;
    left: 10%;
    right: 10%;
    color: gray;
    position: fixed;
    bottom: 4rem;
  }

  .userinformationpicture{
  }

  .arrow{
    margin-left: 10rem;
  }